.banner {
  float: left;
  padding-bottom: 10px;
  height: 300px;
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}


.container1 {
  
  width: 40%; 
  height: 35%;
  
}

 .row {
  width: 250px;
  height: 20px;
  
}
.container2 {
  float: right;
  border: black;
  padding: 50px;
  margin: 10px;
  width: 550px;
  height: 180px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: black;
  text-align: center;
  text-decoration: none;
  
}

